  <ion-item>Finance</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="career"></ion-range>
  </ion-item>
  <ion-item>Health</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="finance"></ion-range>
  </ion-item>
  <ion-item>Relationships</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="personalGrowth"></ion-range>
  </ion-item>
  <ion-item>Family</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="health"></ion-range>
  </ion-item>
  <ion-item>Personal Growth</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="family"></ion-range>
  </ion-item>
  <ion-item>Social Life</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="relationships"></ion-range>
  </ion-item>
  <ion-item>Attitude</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="socialLife"></ion-range>
  </ion-item>
  <ion-item>Career</ion-item>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="attitude"></ion-range>
  </ion-item>

