<ion-list>
  <ion-title>Career</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="career"></ion-range>
  </ion-item>
  <ion-title>finance</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="finance"></ion-range>
  </ion-item>
  <ion-title>personalGrowth</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="personalGrowth"></ion-range>
  </ion-item>
  <ion-title>health</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="health"></ion-range>
  </ion-item>
  <ion-title>family</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="family"></ion-range>
  </ion-item>
  <ion-title>relationships</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="relationships"></ion-range>
  </ion-item>
  <ion-title>Social Life</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="socialLife"></ion-range>
  </ion-item>
  <ion-title>attitude</ion-title>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="attitude"></ion-range>
  </ion-item>
</ion-list>