<ion-list>
  <ion-label>Finance</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="career"></ion-range>
  </ion-item>
  <ion-label>Health</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="finance"></ion-range>
  </ion-item>
  <ion-label>Relationships</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="personalGrowth"></ion-range>
  </ion-item>
  <ion-label>Family</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="health"></ion-range>
  </ion-item>
  <ion-label>Personal Growth</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="family"></ion-range>
  </ion-item>
  <ion-label>Social Life</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="relationships"></ion-range>
  </ion-item>
  <ion-label>Attitude</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="socialLife"></ion-range>
  </ion-item>
  <ion-label>Career</ion-label>
  <ion-item>
    <ion-range min="0" max="10" step="1" pin="true" debounce="100"(ionChange)="change()" [(ngModel)]="attitude"></ion-range>
  </ion-item>
</ion-list>