<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Questionnare {{slides.getActiveIndex() + 1}}/3</ion-title>
<ion-buttons *ngIf="slides.getActiveIndex() > 0">
    <button ion-button icon-left (click)="slides.slidePrev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
  </ion-buttons>
  <ion-buttons end>
    <button ion-button icon-right (click)="slides.slideNext()">Next <ion-icon name="arrow-forward"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides (ionSlideWillChange)="slideChange()" pager='true' paginationType='progress'>

    <ion-slide>
      <form [formGroup]="firstForm">

        <ion-item>
          <ion-label text-wrap>What is your military branch?</ion-label>
          <ion-select  formControlName="branch" [(ngModel)]="branch" name="branch">
            <ion-option value="Army">Army</ion-option>
            <ion-option value="Navy">Navy</ion-option>
            <ion-option value="Marine Corps">Marine Corps</ion-option>
            <ion-option value="Airforce">Airforce</ion-option>
            <ion-option value="Coast Guard">Coast Guard</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label text-wrap>Are you currently active or a veteran?</ion-label>
          <ion-select  formControlName="vet" [(ngModel)]="vetOrActive" name="vetOrActive">
            <ion-option value="veteran">Veteran</ion-option>
            <ion-option value="active">Active</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label text-wrap>When is/was your seperation date?</ion-label>
          <ion-datetime  formControlName="date" displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY" max="2050" [(ngModel)]="sepDate" name="sepDate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label text-wrap>Do you have a disability?</ion-label>
          <ion-select  formControlName="disabled" (ionChange)="disabled(disability)" [(ngModel)]="disability" name="disability">
            <ion-option value='true'>Yes</ion-option>
            <ion-option value="false">No</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="userData.disability === 'true'">
          <ion-label text-wrap>Enter your disability percentage</ion-label>
          <ion-badge _ngcontent-c0=""  item-end="" class="badge badge-ios badge-ios-danger">{{disabilityPercent}}%</ion-badge>
              <ion-range formControlName="disabledPercent"  min=0 max=100 step=10 pin="true" snaps="true" [(ngModel)]="disabilityPercent">
                  <ion-label range-left>0</ion-label>
                  <ion-label range-right>100</ion-label>
                </ion-range>
        
        </ion-item>

      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup] = "secondForm">
        <ion-item>
            <ion-label text-wrap>Are you currently employed?</ion-label>
            <ion-select  formControlName="employed" [(ngModel)]="employed" name="employed">
              <ion-option value="true">Yes</ion-option>
              <ion-option value="false">No</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label text-wrap>When were you last employed?</ion-label>
            <ion-datetime  formControlName="employedDate" displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY" max="2050" [(ngModel)]="lastEmployed" name="employedDate"></ion-datetime>
          </ion-item>
  
          <ion-item>
            <ion-label text-wrap>Are you married?</ion-label>
            <ion-select  formControlName="marital" [(ngModel)]="marital" name="marital">
              <ion-option value='true'>Yes</ion-option>
              <ion-option value="false">No</ion-option>
            </ion-select>
          </ion-item>
      </form>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>


  </ion-slides>

</ion-content>