ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .slide-zoom {
    height: 100%;
    }
    .swiper-container-horizontal > .swiper-pagination-progress {
      left: 0;
      top: 90%;
      width: 100%;
      height: 4px;
  }
  
